body{
    background-image: url(../images/11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    background-attachment: fixed;
    overflow: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-size: cover;
    background-position: center;
}

.box-container{
    position: relative;
    height: 690px;
    width: 570px;
    margin: auto;
    box-shadow: 3px 12px 11px  rgba(27, 36, 89, 0.555);
    border-radius: 20px;
    /* border: 3.9px  dashed rgba(8, 12, 65, 0.836); */
}

/* REGISTER.HTML */
.box-container2{
    position: relative;
    height: 690px;
    width: 570px;
    margin: auto;
    box-shadow: 3px 12px 11px  rgba(27, 36, 89, 0.555);
    border-radius: 20px;
    /* border: 3.9px  dashed rgba(8, 12, 65, 0.836); */
}

.remember-forgot{
    display: inline-flex;
    justify-content: space-between;
    font-size: 15px;
    /* margin: -10px 50px auto; */
}

#flexCheckDefault{
    width: 10%!important;
  
}

/* REGISTER.HTML */

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    padding: 13px 50px 20px 20px;
    background: rgba(161, 155, 147, 0.738);
    text-indent: 35px;
}
  
.input-box i{
    position: absolute;
    color: white;
    transform: translate(-50%);
    font-size: 25px;
}

.input-box input::placeholder{
    color: white;
    font-weight: 600;
}

#header1{
    margin-top: -10px;
    color: rgb(65, 66, 142);
    text-align: center;
    font-weight: bold; 
}

.form-group {
    text-align: left;
    margin-bottom: 25px;
}
  
.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #2f5d9e;
}
 
.form-group input{
    width : 60%;
}

#login-btn {
    background-color: #4f7fac;
    border-radius: 20px;
    font-size: 17px;
    text-align: center;
    width: 30%;   
    color: rgb(237, 235, 234);
}

#login-btn:hover{
    background-color: rgb(237, 147, 105);
    transform:scale(1.09);
    color: rgb(15, 33, 104);
}
 





